<!DOCTYPE html>

<html ng-app="gallery">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/module.js"></script>
    <link href="~/Content/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
    
    <header class="header navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-header">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gallery", "Index", "Angular", null, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse header-navbar-collapse" id="navbar-collapse-header">

                @if (@ViewBag.LoginDisabled == null)
                {
                    <ul class="nav navbar-nav navbar-right">

                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Moderator"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moderator<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Reported posts", "ReportedPosts", "Moder")</li>
                                    </ul>
                                </li>
                            }
                            if (User.IsInRole("Administrator"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Manage users", "ManageUsers", "Admin")</li>
                                    </ul>
                                </li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>@User.Identity.Name</b><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My profile", "Index", "Account")</li>
                                    <li><a href="#">Edit</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Settings</a></li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Log out", "LogOut", "Account")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Log In</b> <span class="caret"></span></a>
                                <ul id="login-dp" class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-12">

                                                @using (Html.BeginForm("LogIn", "Account", null, FormMethod.Post, new { @class = "form", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                    <div class="form-group">
                                                        @Html.ValidationMessage("Login", "", new { @class = "text-danger" })
                                                        @Html.Editor("Login", new { htmlAttributes = new { @class = "form-control", type = "login", placeholder = "Login" } })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                                                        @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Password" } })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.ValidationMessage("RememberMe", "", new { @class = "text-danger" })
                                                        <div class="checkbox">
                                                            <label>@Html.CheckBox("RememberMe")<small>Remember?</small></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Sign in" class="btn btn-primary btn-block">
                                                    </div>

                                                    @*<div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                                        <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> keep me logged-in
                                                                </label>
                                                        </div>
                                                    *@
                                                }

                                            </div>
                                            <div class="bottom text-center">
                                                New here ? <b>@Html.ActionLink("Join Us", "Register", "Account")</b>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        }

                    </ul>
                }

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container -->
    </header>

    <div class="container content" ng-view>
        Loading...
    </div>

    <footer class="footer">
        <div class="container">
            <div class="col-lg-12" align="center">
                <p class="footer_copyright">Copyright: <span>@DateTime.Now.Year</span></p>
            </div>
        </div>
    </footer>

</body>
</html>
